name: REUSE Compliance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  reuse:
    name: Check SPDX License Headers
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v4
